/* Body & Background */
body{
   height: 100%;
   max-width: 70vw;
   margin-right: auto;
   margin-left: auto;
   background: url('../img/background-2.jpg') bottom no-repeat transparent;
   background-size:cover;
   vertical-align:baseline;
   background-attachment: fixed;
}
html{
     height:100%;
     width: 100%;
}

/* Particles Animation */
.__background{
  position: absolute;
  display: block;
  width: 100%;
  height:150%;
  top: 0;
  left: 0;
  z-index: -1;
  vertical-align:baseline;
}

/* Content */
#about_page{
   padding: 10vw 0 0 0;
}
p {
   font-family: 'Open Sans';
   font-size: 14px;
   text-align: justify;
   line-height: 1.5;
}

h1 {
   margin: 0 0 10px 0;
   text-transform: uppercase;
   font-family: 'Josefin Sans', sans-serif;
   letter-spacing: 3px;
   text-align: center;
}

img {
   border-radius: 10px;
   margin: 8px 0 10px 0;
}

#intro {
   background: rgb(0,0,0,0.4);
   border-radius: 10px;
   padding: 15px 40px;
}

a , a:hover, a:active{
   color: white;
}



/* Hobbies Photo Slider */
.cd-svg-clipped-slider .gallery li {
  /* slider images */
  position: absolute;
  z-index: 1;
  top: 0;
  left: 25%;/* (100% - width)/2 */
  width: 50%;
  height: 100%;
  opacity: 0;
  transform: translateX(75%) scale(0.4);
  transition: opacity .3s, transform .3s ease-in-out;
}

.cd-svg-clipped-slider .gallery li.selected {
  /* slide in the center */
  position: relative;
  z-index: 3;
  opacity: 1;
  transform: translateX(0) scale(1);
}

.cd-svg-clipped-slider .gallery li.left {
  /* slides on the left */
  transform: translateX(-75%) scale(0.4);
}
.cd-svg-clipped-slider .gallery li.left,
.cd-svg-clipped-slider .gallery li.right {
  /* .right -> slide visible on the right */
  z-index: 2;
  opacity: 1;
}

.cd-svg-clipped-slider .caption li {
  /* slide titles */
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  transform: translateX(100px);
  opacity: 0;
  transition: opacity .3s, transform .3s ease-in-out;
}
.cd-svg-clipped-slider .caption li.selected {
  /* slide visible in the center */
  z-index: 2;
  position: relative;
  transform: translateX(0);
  opacity: 1;
}
.cd-svg-clipped-slider .caption li.left {
  /* slide hidden on the left */
  transform: translateX(-100px);
}
