/*HEADER*/
.header .header__background {
  position: absolute;
  display: block;
  width: 100%;
  height:150%;
  top: 0;
  left: 0;
  z-index: 0;
  vertical-align:baseline;
}

.header{
   height: 100%;
   background: url('../img/background-2.jpg') bottom no-repeat transparent;
   background-size:cover;
   display:block;
   vertical-align:baseline;
   margin: 0 0 100px 0;
}

#animated-text{
   padding-top: 16%;
   padding-bottom: 16%;
   padding-left: 5%;
}

.navbar-default{
   background: transparent;
   border: none;
}

.navbar-default .navbar-nav > li > a{
   color: white;
}

.navbar-default .navbar-nav > li > a:hover{
   color: white;
   text-decoration: underline;
}

.navbar-fixed-top.scrolled {
   transition: background-color 500ms linear;
}

@media (max-width: 767px){
   .navbar-collapse{
      background: rgb(255,255,255,0.8);
   }
   .navbar-default .navbar-nav > li > a{
      color: MidnightBlue;
   }
   .navbar-default .navbar-nav > li > a:hover{
      color: MidnightBlue;
      text-decoration: underline;
   }
}

/* Body */
html, body{
   margin:0;
   padding:0;
}

body{
   font-size: 13px;
   margin: 0;
   background: linear-gradient(to bottom, #000000 30%, #1c1b31, #383662, #5059b1);
   background-size:100%;
   background-repeat: no-repeat;
}

body:before{
   content:'';
   position:fixed;
   top:0;
   bottom:0;
   left:0;
   right:0;
   width: 100%;
   z-index:-5;
   background: linear-gradient(to top left, rgba(255,255,255,0),
   #000000 95%);
}

.row {
   margin: 0;
}

/* Headings */
h1{
   font-family: 'PT Sans';
   color: #ffffff;
   text-align: left;
   font-size: 60px;
   margin-bottom: -10px;
   vertical-align: middle;
   padding-bottom: 0px;
}

h2 {
   font-family: 'Open Sans';
   text-transform: uppercase;
   letter-spacing: 3px;
   font-size: 20px;
   color: white;
   text-align: left;
   padding: 0 0 0 18px;
}

h3 {
   font-family: 'Open Sans';
   font-style: italic;
   color: #fff;
   font-size:20px;
   font-weight: normal;
   text-align: left;
}

.content-element{
   margin: 150px 0 50px 0;
}


/*About Me*/
#about{
   text-align: center;
}

#about_content{
   max-width: 90vw;
   display: inline-block;
}

.editor{
   background-color: #2A2F34;
   border-radius: 5px;
   text-align: left;
}

.editor .editor_toolbar{
   padding: 6px 15px;
}

.button{
   display: inline-block;
   width: 10px;
   height: 10px;
   margin-right: 2px;
   padding:0;
   border-radius: 100%;
   text-align: left;
   transition: background-color 200ms linear;
}.button:nth-child(1){
   background-color: #ED7268;
}.button:nth-child(2){
   background-color: #F9E600;
}.button:nth-child(3){
   background-color: #4BD591;
}

.editor .editor_content{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding: 24px 15px 35px 15px;
   overflow: auto;
}

.editor_content {
   color: #fff;
   font-family: "Courier New";
   padding: 0 15px 0 15px;
}

.More_Sparkles{
   font-family: 'Open Sans';
   font-size: 13px;
   letter-spacing: 3px;
   text-transform: uppercase;
   color: white;
   background: transparent;
   border: 2px solid white;
   padding: 1vw;
   margin: 2.5vw;
   transition: 1s ease;
}

.More_Sparkles:hover{
   color: #494b88;
   background: white;
   transition: 1s ease;
}

/*Projects*/
#projects{
   max-width: 90vw;
   display: block;
   margin-right: auto;
   margin-left: auto;
}
/*Project Pictures Hover Effect*/
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.2);
  -webkit-filter: brightness(0.2);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.hovereffect a, .hovereffect p {
  color: #FFF;
  font-size: 14px;
  text-transform: uppercase;
  font-family:'Open Sans';
  letter-spacing: 3px;
  padding: 1em 1em;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

/* Footer */
footer{
   font-family: 'Open Sans';
   color: #fff;
   padding: 30px;
   padding-top: 50px;
}
footer a{
   color: #fff;
   text-decoration: none;
}

footer a:hover{
   text-decoration: underline;
   color: #fff;
}

footer a:visited{
   color:#fff;
   text-decoration: none;
}
