/* Body & Background */
body{
   height: 100%;
   max-width: 70vw;
   margin-right: auto;
   margin-left: auto;
   background: url('../img/background-2.jpg') bottom no-repeat transparent;
   background-size:cover;
   vertical-align:baseline;
   background-attachment: fixed;
}
html{
     height:100%;
     width: 100%;
}

/* Particles Animation */
.__background{
  position: absolute;
  display: block;
  width: 100%;
  height:150%;
  top: 0;
  left: 0;
  z-index: -1;
  vertical-align:baseline;
}

/* Content */
#ripple_page{
   padding: 10vw 0 0 0;
}
p {
   font-family: 'Open Sans';
   color: white;
   font-size: 14px;
   text-align: justify;
   line-height: 1.5;
}

h1 {
   margin: 0 0 0 0;
   text-transform: uppercase;
   font-family: 'Josefin Sans', sans-serif;
   letter-spacing: 3px;
   text-align: left;
}

h3 {
   margin: 0 0 10px 0;
}

img {
   border-radius: 10px;
   margin: 8px 0 10px 0;
}

#content {
   background: rgb(0,0,0,0.4);
   border-radius: 10px;
   padding: 20px 40px;
   margin-top: 10px;
}

a , a:hover, a:active{
   color: white;
}


